## Latest MOOC design analysis
#### Author: Hangxin Lu
#### Time: 16/01/2018

### Import libraries and set up database connections

In [37]:
import  psycopg2
import psycopg2.extras
import sys
import pprint
import pandas as pd

In [38]:
conn_string = "host='localhost' dbname='qua-kit'"
print ("Connecting to database\n	->%s" % (conn_string))
conn = psycopg2.connect(conn_string)
print ("Connected!\n")

Connecting to database
	->host='localhost' dbname='qua-kit'
Connected!

### Get necessary data from database

In [40]:
# all users
db_users = pd.read_sql_query ("SELECT * FROM \"user\"", conn)
# number of submission for each users
db_count_submissions = pd.read_sql_query("""SELECT author_id,COUNT(scenario.id) as n FROM SCENARIO GROUP BY author_id ORDER BY author_id""",conn)
# latest submission
db_scenarios_late = pd.read_sql_query("SELECT id, author_id, last_update, description, image, encode(geometry,'escape') as geo FROM scenario as a WHERE id = (SELECT max(b.id) FROM scenario as b where a.author_id = b.author_id) ORDER BY author_id", conn)

In [42]:
# all user actions
db_user_scenario_load =pd.read_sql_query( "SELECT * FROM user_scenario_load",conn)
db_user_scenario_update =pd.read_sql_query( "SELECT * FROM user_scenario_update",conn)
db_user_scenario_action =pd.read_sql_query( "SELECT * FROM user_scenario_action",conn)

In [53]:
# all cross feedback
db_criterion =pd.read_sql_query( "SELECT * FROM criterion",conn)
db_vote =pd.read_sql_query( "SELECT * FROM vote",conn)
db_peer_review =pd.read_sql_query( "SELECT * FROM review",conn)
db_expert_review = pd.read_sql_query("SELECT * FROM  expert_review",conn)
db_voter_score = pd.read_sql_query("SELECT * FROM vote_rating", conn)

In [56]:
# final grade and ratings
db_grade = pd.read_sql_query("SELECT * FROM current_scenario", conn)

In [57]:
db_grade

,id,history_scenario_id,author_id,task_id,description,grade,last_update,edx_grading_id
0,431,1,4,0,The proposal bases in the idea of the differen...,3.604098,2016-09-19 03:43:00.182149+02:00,788.0
1,924,2,6,0,,2.000000,2016-09-19 03:54:09.334886+02:00,867.0
2,401,14,47,0,"Gran Manzana, Mayor densidad al fondo, menor d...",3.663323,2016-09-19 14:56:55.798152+02:00,54.0
3,748,17,50,0,The organization plan proposed is based on the...,3.317773,2016-09-19 16:11:22.262375+02:00,856.0
4,677,19,54,0,,2.217234,2016-09-19 16:30:33.394324+02:00,500.0
5,757,25,62,0,,1.688535,2016-09-19 19:14:18.666579+02:00,839.0
6,860,27,73,0,The goal of this design is to promote a univer...,3.530680,2016-09-19 21:00:32.096023+02:00,777.0
7,656,31,2,0,,2.861820,2016-09-19 21:39:29.808677+02:00,501.0
8,829,42,58,0,Just getting started. Clearing out a central a...,1.150526,2016-09-20 00:54:32.851786+02:00,428.0
9,877,46,95,0,,3.264254,2016-09-20 04:12:31.637412+02:00,349.0
10,571,48,105,0,,3.019281,2016-09-20 05:17:37.250750+02:00,733.0
11,596,64,128,0,"This model is inspired by ""The Venus Project"" ...",3.387957,2016-09-20 15:45:32.967164+02:00,723.0
12,666,81,146,0,,1.615045,2016-09-20 20:58:36.534683+02:00,463.0
13,488,45,98,0,Open space in the middle for green areas or pr...,2.865135,2016-09-20 01:55:50.021608+02:00,671.0
14,819,54,76,0,,1.456788,2016-09-20 08:33:12.430403+02:00,438.0
15,543,26,69,0,,2.747004,2016-09-19 20:02:00.901898+02:00,657.0
16,470,57,104,0,It is important to create clusters inorder to ...,3.294962,2016-09-20 12:12:40.738024+02:00,634.0
17,388,29,8,0,The design allows for front-and-back views and...,3.742564,2016-09-19 21:21:01.072817+02:00,115.0
18,795,24,60,0,A roundish design has been chosen for optimal ...,2.378034,2016-09-19 18:06:34.705851+02:00,429.0
19,790,10,42,0,,3.000000,2016-09-19 13:50:27.184789+02:00,830.0
20,979,2042,1847,1,,4.000000,2017-09-18 10:47:26.267026+02:00,1630.0
21,1239,2515,2247,7,,2.079394,2017-11-24 22:02:19.120701+01:00,2135.0
22,1242,2519,2272,7,,2.362088,2017-11-25 05:19:46.570917+01:00,2165.0
23,658,222,284,0,,2.333680,2016-09-24 02:48:50.489300+02:00,718.0
24,652,82,151,0,Shielded towards the street by larger building...,2.320083,2016-09-20 22:01:38.642798+02:00,129.0
25,397,87,92,0,This project is designed based on the idea of ...,3.423460,2016-09-21 00:07:08.793947+02:00,461.0
26,593,90,103,0,"I did not find the orientation , so I organise...",3.508165,2016-09-21 01:45:52.272859+02:00,71.0
27,546,116,161,0,,3.238231,2016-09-21 08:42:47.686664+02:00,695.0
28,560,127,175,0,,3.276136,2016-09-21 14:27:42.515580+02:00,692.0
29,417,128,123,0,Two access roads and two areas of common groun...,4.569638,2016-09-21 14:44:54.166940+02:00,58.0
...,...,...,...,...,...,...,...,...
1202,712,58,125,0,The basic idea was to create small squares for...,2.298458,2016-09-20 12:58:24.273767+02:00,96.0
1203,423,136,150,0,first_,3.283511,2016-09-21 21:10:58.405649+02:00,24.0
1204,771,268,158,0,,2.262543,2016-09-24 23:41:20.828325+02:00,112.0
1205,1049,2150,1994,7,A ribbon on traditional neighbourhood make the...,3.663028,2017-10-11 23:09:06.952203+02:00,1734.0
1206,724,117,118,0,,1.897668,2016-09-21 08:49:21.547972+02:00,85.0
1207,1050,2151,1995,7,,1.988529,2017-10-12 00:05:10.102016+02:00,1735.0
1208,659,192,202,0,,2.735145,2016-09-23 05:12:45.975688+02:00,407.0
1209,830,197,7,0,,1.157313,2016-09-23 07:04:56.913370+02:00,332.0
1210,1051,2152,1996,7,"Mixed use, lots of green space connections to ...",3.358836,2017-10-12 02:37:06.789949+02:00,1736.0
1211,891,213,272,0,,1.694737,2016-09-23 20:32:59.240363+02:00,49.0
1212,1052,2153,1997,7,,2.979282,2017-10-12 03:15:25.237671+02:00,1737.0
1213,817,125,176,0,,1.796494,2016-09-21 13:46:49.743349+02:00,775.0
1214,610,256,298,0,,2.277519,2016-09-24 16:27:55.534648+02:00,235.0
1215,1054,2156,1952,7,Clustered type Development: JBSantos,1.914062,2017-10-12 07:25:27.829397+02:00,1691.0
1216,1055,2157,1999,7,,1.616623,2017-10-12 08:20:26.063621+02:00,1739.0
1217,582,221,37,0,This proposal is my attempted to apply sustain...,3.567709,2016-09-24 01:00:08.464774+02:00,842.0
1218,444,898,107,0,The organization of the township is in recticu...,4.436958,2016-10-19 17:47:30.550919+02:00,617.0
1219,1056,2158,2001,7,,2.631353,2017-10-12 10:06:53.890748+02:00,1741.0
1220,493,646,576,0,I tried to fullfill the following conditions:\...,4.243231,2016-10-02 22:55:28.064354+02:00,3.0
1221,739,1186,476,0,Made with enough space for cars in case of eme...,2.939352,2016-11-17 03:10:36.783794+01:00,257.0
1222,280,1776,1510,1,,1.822006,2017-03-30 14:35:20.457123+02:00,767.0
1223,346,1924,1707,1,Barcelona Eixample Style,3.991449,2017-07-17 20:39:07.332896+02:00,909.0
1224,166,1409,1190,1,,3.056238,2017-02-25 02:46:35.401738+01:00,899.0
1225,992,2067,1884,1,Revised Angle-\r\n1. Creating alley to penetra...,3.071010,2017-09-30 19:00:38.423171+02:00,1666.0
1226,990,2064,1881,1,To make good use of the space I created three ...,5.000000,2017-09-29 17:31:19.136976+02:00,1663.0
1227,994,2070,1879,1,"I propose a concept, which considers to devid...",4.957950,2017-10-03 06:31:44.100570+02:00,1661.0
1228,925,1937,1730,1,The concept is based ot the organisation of th...,4.000000,2017-07-26 09:42:39.044210+02:00,374.0
1229,993,2069,1887,1,,4.143858,2017-10-02 14:11:25.202324+02:00,1668.0
1230,1057,2160,2003,1,,1.674424,2017-10-12 18:30:40.373676+02:00,1744.0
1231,991,2065,1882,1,,2.170327,2017-09-29 23:00:07.984411+02:00,1664.0

In [46]:
db_grade =pd.read_sql_query( "SELECT * FROM vote_grade",conn) #final score of student=ranking
db_rating =pd.read_sql_query( "SELECT author_id, AVG(value) as avg_rating from rating GROUP BY author_id ORDER by avg_rating DESC",conn)

DatabaseError: Execution failed on sql 'SELECT * FROM vote_grade': relation "vote_grade" does not exist
LINE 1: SELECT * FROM vote_grade
                      ^

In [48]:
# test one query result
db_review

,id,reviewer_id,scenario_id,criterion_id,positive,comment,timestamp
0,1,1,4,3,False,Thanks for the submission! Though it was not s...,2016-09-19 09:18:42.704570+02:00
1,2,69,20,3,True,,2016-09-19 20:03:51.844694+02:00
2,3,96,22,4,False,Interesting idea of the continous second insid...,2016-09-20 01:42:14.550422+02:00
3,4,103,21,4,False,Interesting proposal concerning the public spa...,2016-09-20 18:10:38.154039+02:00
4,5,103,1,3,False,Hello\r\nI like your design\r\n\r\nBut with 2 ...,2016-09-20 23:36:53.870185+02:00
5,6,103,17,3,True,Quite interesting\r\n\r\nI would make 2 sugges...,2016-09-21 00:46:08.500895+02:00
6,7,112,140,1,True,It is a good idea of yours to design an anti-n...,2016-09-22 06:33:51.358950+02:00
7,8,112,140,2,True,May be it could be better if you remove the se...,2016-09-22 06:37:26.678897+02:00
8,9,112,140,3,True,"Also, if you have designed social place in the...",2016-09-22 06:40:53.622331+02:00
9,10,112,144,1,True,Good work! \r\nHowever it should be organize...,2016-09-22 06:45:18.522933+02:00
10,11,112,144,2,True,To centralize you project better try to design...,2016-09-22 06:47:17.599942+02:00
11,12,112,144,4,True,According disoder there are many ways to go. A...,2016-09-22 06:50:00.676770+02:00
12,13,112,144,3,True,To make connectivity better inner street of th...,2016-09-22 06:52:06.629563+02:00
13,14,112,140,4,True,If you add inner streets inside the block to l...,2016-09-22 06:56:48.808483+02:00
14,15,214,16,2,True,"your design made the most sense, although I wo...",2016-09-22 14:21:23.417552+02:00
15,16,214,30,4,True,Although circulation is efficient and effectiv...,2016-09-22 14:24:13.951324+02:00
16,17,214,45,1,True,The area in the middle is too massive and unde...,2016-09-22 14:25:53.916319+02:00
17,18,218,163,1,True,,2016-09-22 16:17:48.363308+02:00
18,19,237,17,4,True,i liked the idea of continuing the existing fo...,2016-09-22 21:53:42.761275+02:00
19,20,236,180,4,True,+ I like the larger spaces between the buildin...,2016-09-22 22:32:06.135874+02:00
20,21,237,141,3,True,i think the variety of shapes and heights is n...,2016-09-22 23:56:13.263076+02:00
21,22,96,13,4,True,I like the idea of placing the highest buildin...,2016-09-23 00:53:13.569988+02:00
22,23,204,187,1,True,Great plan! I appreciate the continuation of t...,2016-09-23 08:59:08.491271+02:00
23,24,27,187,4,True,,2016-09-24 03:10:40.372344+02:00
24,25,27,215,1,True,"it has a clear visibility, syntax. the people ...",2016-09-24 03:16:22.536113+02:00
25,26,214,239,3,True,I like that you didn't align in a rigid formal...,2016-09-24 12:22:25.224970+02:00
26,27,214,1,3,True,I like that you didn't align in a rigid formal...,2016-09-24 12:25:00.036016+02:00
27,29,289,279,2,True,I like your idea for forming smaller clusters ...,2016-09-25 12:43:06.473092+02:00
28,30,322,1,3,True,I think the solution is interesting and like i...,2016-09-25 18:54:56.001494+02:00
29,31,27,339,4,True,looks good and clear,2016-09-26 14:00:10.961836+02:00
...,...,...,...,...,...,...,...
1131,1136,2002,2388,581,False,,2017-11-12 19:27:01.180046+01:00
1132,1137,2002,2122,582,True,,2017-11-12 19:28:09.422629+01:00
1133,1138,2002,2183,582,True,,2017-11-12 19:30:48.381717+01:00
1134,1139,2002,2271,1,True,,2017-11-12 19:32:54.525012+01:00
1135,1140,2002,2378,1,True,,2017-11-12 19:33:33.112175+01:00
1136,1141,2002,2323,1,True,,2017-11-12 19:38:49.778279+01:00
1137,1142,2002,2369,581,False,,2017-11-12 19:46:50.625666+01:00
1138,1143,2138,2115,582,False,,2017-11-13 00:17:56.356706+01:00
1139,1144,2145,2444,582,False,"Too dense, difficult on connectivity",2017-11-13 03:03:56.840967+01:00
1140,1145,1945,2180,582,True,,2017-11-13 10:34:21.045822+01:00
1141,1146,2252,2495,1,True,"Actually, I do not know how to submit and stil...",2017-11-20 18:44:01.055237+01:00
1142,1147,2251,2121,1,False,,2017-11-20 21:58:19.994370+01:00
1143,1148,2251,2121,581,True,,2017-11-20 21:58:38.435051+01:00
1144,1149,2251,2121,582,True,,2017-11-20 21:58:45.418207+01:00
1145,1150,2251,2121,2,True,"Submited last 3 without rewiev by accident, le...",2017-11-20 22:06:23.690333+01:00
1146,1151,2273,2529,582,True,"Good spread and mix of typologies, but some of...",2017-11-26 11:48:28.691934+01:00
1147,1152,2273,2519,582,False,"Hyper dense, gods-eye arrangement. This limits...",2017-11-26 11:51:09.282456+01:00
1148,1153,2273,2514,582,True,"This looks pretty pleasant to live in, the low...",2017-11-26 12:00:23.819192+01:00
1149,1154,2285,2519,581,False,It appears to be a overly dense environment tr...,2017-11-26 16:51:14.061284+01:00
1150,1155,2285,2521,581,True,Sensible approach to density distribution. A r...,2017-11-26 16:54:06.235591+01:00
1151,1156,2285,2515,581,False,The density is too low for such a country that...,2017-11-26 16:56:01.381353+01:00
1152,1157,2285,2517,581,False,Incredibly dense environment with little to no...,2017-11-26 16:57:12.500620+01:00
1153,1158,2249,2533,581,True,The only difference between these two plans is...,2017-11-27 07:04:00.585553+01:00
1154,1159,2249,2514,581,True,How many times did you design? Yours looks gr...,2017-11-27 07:06:21.850227+01:00
1155,1160,2249,2533,582,True,The accessibility criterion is what I am most ...,2017-11-27 07:14:06.928686+01:00
1156,1161,2249,2514,582,True,I guess access would be good because there is ...,2017-11-27 07:34:07.828198+01:00
1157,1162,2249,2534,582,True,Seems like it is accessible because there is w...,2017-11-27 09:02:27.399244+01:00
1158,1163,2249,2425,1,True,,2017-11-27 09:07:00.842033+01:00
1159,1164,2249,2109,582,True,"I like this idea ""view the city from the sea, ...",2017-11-27 09:10:34.842639+01:00
1160,1165,2249,2154,582,True,mixed-use as a neighbor for me this would depe...,2017-11-27 09:22:12.511778+01:00

In [ ]:
# drop database connection
conn.close()

### Format Dataframes